
  
  input {
      font-size: large;
      border-radius: 20px;
      box-sizing: border-box;
  }
  
  .text {
      padding: 10px;
      font-weight: bold;
      font-style: italic;
  }
  
  .image {
      max-width: 80%;
      border: solid 6px wheat;
      
  }
  
.description {
    margin: 35px;
}
  